body {
    background-color: #fff4eb;
}

#articleSearch {
    margin: -20px 0 ;
    display: flex;
    background-color: #f2e4d9;
    justify-content: center;
    font-weight: 1000;
    font-size: 18px;
    text-transform: uppercase;
}

#articleSearchLink {
    text-decoration: none;
    color: #212121;
}

#sidebarLink{
    text-decoration:none;
    color: #fff4eb
}

#sidebarLink:hover{
    color: gray;
}

#articleSearchLink:hover {
    color: gray;
}
#navigation {
    display: flex;
    margin-left: 630px;
    margin-top: 30px;
    margin-right: 10px; 
    font-weight: 800;
    font-size: 20px;
    color: #212121;
}

#list {
    display: flex;
    list-style: none;
    margin: 10px 0 50px 0;
    text-transform: uppercase;
}

li {
    margin: 20px
}

#freelanceGuide {
    display: inherit;
    margin-top: -15px;
    color: #fff4eb;
    padding: 15px 15px 15px 15px;
    background-color: #212121;
    border: 3px solid #212121;
    text-decoration: none;
    
 
}

.navLink:link, .navLink:visited {
    text-decoration: none;
    color: #212121;
}

.navLink:hover {
    color: red;
    transition: .5s;
}
#freelanceGuide:hover {
    background-color:  #fff4eb;
    color: #212121;
    transition: .5s;

}





sidebar {
    position: fixed;
    top: 50%;
    padding: 5px 490px 0 ;
    margin: 0;
    left: -610px;
    transform: rotate(-90deg);
    background-color: 	#212121;
    color: #fff4eb;
    font-size: 20px;
    text-transform: uppercase;
    z-index: 5;
}

#workNotes {
    font-size: 250px;
    width:5px;
    display:table;
    margin-left: 350px;
    margin-top: 100px;
    line-height: 175px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#subtitle {
    font-size: 30px;
    margin-top: -100px;
    margin-left: 350px;
    font-weight: 100;
}

#pricingGuide {
    margin-left: 350px;
    padding: 15px 20px 15px 20px;
    display: inline-block;
    color: #fff4eb;
    background-color: #212121;
    border: 3px solid #212121;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
}

#freelanceGuideButton {
    margin-left: 30px;
    display: inline-block;
    padding: 15px 15px 15px 15px;
    color: #212121;
    background-color: #fff4eb;
    border: 3px solid #212121;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: -2px;
}

#freelanceGuideButton:hover {
    background-color:  #212121;
    color: #fff4ed;
    transition: .5s;
}


.articles {   
    margin-left: 250px;
    margin-right: 200px;
    color: #212121;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
#latest {
    margin-left: 310px;
    width: 100%;
    font-size: 80px;
    color: #212121;
}

.articleTitle {
    font-size: 25px;

}

.articleSnippet {
    display: inherit;

    font-size: 25px;
}


.read {
    margin-left: 30px;
    display: inline-block;
    padding: 15px 20px 15px 20px;
    color: #fff4eb;
    background-color: #212121;
    border: 3px solid #212121;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;  
    font-weight: 700; 

}


.link{
    text-decoration: none;
    color: #fff4eb
}



.read:hover, #pricingGuide:hover {
    background-color:  #fff4eb;
    color: #212121;
    transition: .5s;

}

container {
    display: flex;
    justify-content: space-between;
    margin-right: 550px;
    margin-top: 100px;
    padding-right: -50px;
}
.pricingGuideContainer {
    margin-left: 300px;
    background-color: #212121;

  padding: 50px 50px 50px 50px;

}

.pricingGuideContainer h2 {
    color: white;
    font-size: 40px;
}

.pricingGuideContainer p {
    color: white;
    font-size: 20px;
}

.communityJoinContainer {
padding: 50px 50px 50px 50px;
}
.communityJoinContainer h2 {
color: #212121;
font-size: 40px;


}

.communityJoinContainer p {
    color: #212121;
    font-size: 20px;
}

#pricingGuideButton {
    
    display: inline-block;
    padding: 15px 15px 15px 15px;
    color: #212121;
    background-color: #fff4eb;
    border: 3px solid #fff4eb;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: -2px;
    text-decoration: none;
}

#pricingGuideButton:hover {
    background-color:  #212121;
    color: #fff4ed;
    transition: .5s;
}

#communityButton div {
    margin-left: 0px;
}